In [1]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine

In [3]:
engine = create_engine(f'postgresql://postgres:321@localhost:5432/NBA_MVP')
# Creates a live connection to our data
connection = engine.connect()

In [334]:
import pandas as pd

mvp = pd.read_csv('mvps.csv', encoding = 'latin-1', delimiter= ';')

nickname = pd.read_csv('nicknames.csv', encoding = 'latin-1', delimiter= ';')

players = pd.read_csv('players.csv', encoding = 'latin-1', delimiter= ';')

teams = pd.read_csv('teams.csv', encoding = 'latin-1', delimiter= ';')
teams.head()

    W   L   W/L%  GB   PS/G   PA/G    SRS  Year                 Team
0  56  26  0.683     111.5  105.7   5.22  1991      Boston Celtics*
1  44  38  0.537  12  105.4  105.6  -0.39  1991  Philadelphia 76ers*
2  39  43  0.476  17  103.1  103.3  -0.43  1991     New York Knicks*
3  30  52  0.366  26  101.4  106.4  -4.84  1991   Washington Bullets
4  26  56  0.317  30  102.9  107.5  -4.53  1991      New Jersey Nets

In [335]:
del players["Rk"]
players["Player"] = players["Player"].str.replace("*","", regex=False)
print(players.columns)
players

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year'],
      dtype='object')

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,0.474,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,0.413,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,0.509,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,0.394,...,0.9,3,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,0.462,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18039,Delon Wright,PG,28,SAC,27,8,25.8,3.9,8.3,0.462,...,1,2.9,3.9,3.6,1.6,0.4,1.3,1.1,10,2021
18040,Thaddeus Young,PF,32,CHI,68,23,24.3,5.4,9.7,0.559,...,2.5,3.8,6.2,4.3,1.1,0.6,2,2.2,12.1,2021
18041,Trae Young,PG,22,ATL,63,63,33.7,7.7,17.7,0.438,...,0.6,3.3,3.9,9.4,0.8,0.2,4.1,1.8,25.3,2021
18042,Cody Zeller,C,28,CHO,48,21,20.9,3.8,6.8,0.559,...,2.5,4.4,6.8,1.8,0.6,0.4,1.1,2.5,9.4,2021
18043,Ivica Zubac,C,23,LAC,72,33,22.3,3.6,5.5,0.652,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9,2021

In [336]:
players = players[~players["Age"].str.contains("Age")]

In [338]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       1033 non-null   object
 1   L       1033 non-null   object
 2   W/L%    1033 non-null   object
 3   GB      1033 non-null   object
 4   PS/G    1033 non-null   object
 5   PA/G    1033 non-null   object
 6   SRS     1033 non-null   object
 7   Year    1033 non-null   int64
 8   Team    1033 non-null   object
dtypes: int64(1), object(8)
memory usage: 72.8+ KB

In [339]:
teams = teams[~teams["W"].str.contains("Division")]
teams.head(10)

     W   L   W/L%  GB   PS/G   PA/G    SRS  Year                 Team
0   56  26  0.683     111.5  105.7   5.22  1991      Boston Celtics*
1   44  38  0.537  12  105.4  105.6  -0.39  1991  Philadelphia 76ers*
2   39  43  0.476  17  103.1  103.3  -0.43  1991     New York Knicks*
3   30  52  0.366  26  101.4  106.4  -4.84  1991   Washington Bullets
4   26  56  0.317  30  102.9  107.5  -4.53  1991      New Jersey Nets
5   24  58  0.293  32  101.8  107.8  -5.91  1991           Miami Heat
7   61  21  0.744       110    101   8.57  1991       Chicago Bulls*
8   50  32   0.61  11  100.1   96.8   3.08  1991     Detroit Pistons*
9   48  34  0.585  13  106.4    104   2.33  1991     Milwaukee Bucks*
10  43  39  0.524  18  109.8    109   0.72  1991       Atlanta Hawks*

In [340]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False)
teams.head(8)

    W   L   W/L%  GB   PS/G   PA/G    SRS  Year                Team
0  56  26  0.683     111.5  105.7   5.22  1991      Boston Celtics
1  44  38  0.537  12  105.4  105.6  -0.39  1991  Philadelphia 76ers
2  39  43  0.476  17  103.1  103.3  -0.43  1991     New York Knicks
3  30  52  0.366  26  101.4  106.4  -4.84  1991  Washington Bullets
4  26  56  0.317  30  102.9  107.5  -4.53  1991     New Jersey Nets
5  24  58  0.293  32  101.8  107.8  -5.91  1991          Miami Heat
7  61  21  0.744       110    101   8.57  1991       Chicago Bulls
8  50  32   0.61  11  100.1   96.8   3.08  1991     Detroit Pistons

In [341]:
teams["GB"] = teams["GB"].str.replace("","0").astype(float)
teams.head(10)

     W   L   W/L%    GB   PS/G   PA/G    SRS  Year                Team
0   56  26  0.683   0.0  111.5  105.7   5.22  1991      Boston Celtics
1   44  38  0.537  12.0  105.4  105.6  -0.39  1991  Philadelphia 76ers
2   39  43  0.476  17.0  103.1  103.3  -0.43  1991     New York Knicks
3   30  52  0.366  26.0  101.4  106.4  -4.84  1991  Washington Bullets
4   26  56  0.317  30.0  102.9  107.5  -4.53  1991     New Jersey Nets
5   24  58  0.293  32.0  101.8  107.8  -5.91  1991          Miami Heat
7   61  21  0.744   0.0    110    101   8.57  1991       Chicago Bulls
8   50  32   0.61  11.0  100.1   96.8   3.08  1991     Detroit Pistons
9   48  34  0.585  13.0  106.4    104   2.33  1991     Milwaukee Bucks
10  43  39  0.524  18.0  109.8    109   0.72  1991       Atlanta Hawks

In [342]:
teams = teams.rename(columns={'Team': 'Name'})

In [343]:
print(mvp.columns)
mvp = mvp.rename(columns={'Pts Won': 'Pts_Won', 'Pts Max': 'Pts_Max'})
mvp.head(10)

Index(['Rank', 'Player', 'Age', 'Tm', 'First', 'Pts Won', 'Pts Max', 'Share',
       'G', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%', '3P%', 'FT%', 'WS',
       'WS/48', 'Year'],
      dtype='object')

,Rank,Player,Age,Tm,First,Pts_Won,Pts_Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6,476,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0,142,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
5,6,Clyde Drexler,28,POR,1,75,960,0.078,82,34.8,...,6.7,6.0,1.8,0.7,0.482,0.319,0.794,12.4,0.209,1991
6,7,Kevin Johnson,24,PHO,0,32,960,0.033,77,36.0,...,3.5,10.1,2.1,0.1,0.516,0.205,0.843,12.7,0.220,1991
7,8,Dominique Wilkins,31,ATL,0,29,960,0.030,81,38.0,...,9.0,3.3,1.5,0.8,0.470,0.341,0.829,11.4,0.177,1991
8,9T,Larry Bird,34,BOS,0,25,960,0.026,60,38.0,...,8.5,7.2,1.8,1.0,0.454,0.389,0.891,6.6,0.140,1991
9,9T,Terry Porter,27,POR,0,25,960,0.026,81,32.9,...,3.5,8.0,2.0,0.1,0.515,0.415,0.823,13.0,0.235,1991

In [344]:
new_row = pd.Series(data={'Abbreviation':'TOT', 'Name':'Multiple Teams Total'}, name='40')
#append row to the dataframe
nickname = nickname.append(new_row, ignore_index=False)

C:\Users\CMcCrum\AppData\Local\Temp/ipykernel_39608/1281618565.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nickname = nickname.append(new_row, ignore_index=False)

In [345]:
teams = pd.merge(teams, nickname, on='Name', how='left')

In [359]:
nickname.to_sql('nickname', connection, if_exists='append', chunksize= 100, index=False)

41

In [360]:
teams.to_sql('teams', connection, if_exists='append', chunksize= 100, index=False)

965

In [361]:
mvp.to_sql('mvp', connection, if_exists='append', chunksize= 100, index=False)

474

In [362]:
players.to_sql('players', connection, if_exists='append', chunksize= 100, index=False)

17386