In [3]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine
import functions as fc

In [4]:
engine = create_engine(f'postgresql://postgres:nbapass123@database-2.crzdaaqms3op.us-east-1.rds.amazonaws.com:5432/NBA_MVP')
# Creates a live connection to our data
connection = engine.connect()

In [5]:
mvp = pd.read_csv('mvps.csv', encoding = 'latin-1', delimiter= ';')

nickname = pd.read_csv('nicknames.csv', encoding = 'latin-1', delimiter= ';')

players = pd.read_csv('players.csv', encoding = 'latin-1', delimiter= ';')

teams = pd.read_csv('teams.csv', encoding = 'latin-1', delimiter= ';')
teams.head()

    W   L   W/L%  GB   PS/G   PA/G    SRS  Year                 Team
0  56  26  0.683     111.5  105.7   5.22  1991      Boston Celtics*
1  44  38  0.537  12  105.4  105.6  -0.39  1991  Philadelphia 76ers*
2  39  43  0.476  17  103.1  103.3  -0.43  1991     New York Knicks*
3  30  52  0.366  26  101.4  106.4  -4.84  1991   Washington Bullets
4  26  56  0.317  30  102.9  107.5  -4.53  1991      New Jersey Nets

In [6]:
fc.clean_players(players)
fc.clean_nickname(nickname)
fc.clean_teams(teams, nickname)
fc.clean_mvp(mvp)

In [30]:
nickname.to_sql('nickname', connection, if_exists='append', chunksize= 100, index=False)

41

In [15]:
teams.to_sql('teams', connection, if_exists='append', chunksize= 100, index=False)

965

In [16]:
mvp.to_sql('mvp', connection, if_exists='append', chunksize= 100, index=False)

474

In [17]:
players.to_sql('players', connection, if_exists='append', chunksize= 100, index=False)

17386

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Read from S3").master("local[*]").getOrCreate() 
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").csv("cleaned_data/clean_nickname.csv")
df.printSchema()
df.show(truncate=False)

root
 |-- Abbreviation: string (nullable = true)
 |-- Name: string (nullable = true)

+------------+---------------------+
|Abbreviation|Name                 |
+------------+---------------------+
|ATL         |Atlanta Hawks        |
|BRK         |Brooklyn Nets        |
|BKN         |Brooklyn Nets        |
|BOS         |Boston Celtics       |
|CHA         |Charlotte Bobcats    |
|CHH         |Charlotte Hornets    |
|CHO         |Charlotte Hornets    |
|CHI         |Chicago Bulls        |
|CLE         |Cleveland Cavaliers  |
|DAL         |Dallas Mavericks     |
|DEN         |Denver Nuggets       |
|DET         |Detroit Pistons      |
|GSW         |Golden State Warriors|
|HOU         |Houston Rockets      |
|IND         |Indiana Pacers       |
|LAC         |Los Angeles Clippers |
|LAL         |Los Angeles Lakers   |
|MEM         |Memphis Grizzlies    |
|MIA         |Miami Heat           |
|MIL         |Milwaukee Bucks      |
+------------+---------------------+
only showing top 20 rows

In [6]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("Read from S3").master("local[*]").getOrCreate()
    
spark._jsc.hadoopConfiguration().set("fs.s3a.access.key", "AKIAYQXFRQHBMY7TPAAH")
spark._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "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")
spark._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "s3.amazonaws.com")


    
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").csv("s3a://mvpdata2022/cleaned_data/clean_nickname.csv/")
df.printSchema()
df.show(truncate=False)

2022-04-08 19:54:08,904 WARN  MetricsConfig - Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

root
 |-- Abbreviation: string (nullable = true)
 |-- Name: string (nullable = true)

+------------+---------------------+
|Abbreviation|Name                 |
+------------+---------------------+
|ATL         |Atlanta Hawks        |
|BRK         |Brooklyn Nets        |
|BKN         |Brooklyn Nets        |
|BOS         |Boston Celtics       |
|CHA         |Charlotte Bobcats    |
|CHH         |Charlotte Hornets    |
|CHO         |Charlotte Hornets    |
|CHI         |Chicago Bulls        |
|CLE         |Cleveland Cavaliers  |
|DAL         |Dallas Mavericks     |
|DEN         |Denver Nuggets       |
|DET         |Detroit Pistons      |
|GSW         |Golden State Warriors|
|HOU         |Houston Rockets      |
|IND         |Indiana Pacers       |
|LAC         |Los Angeles Clippers |
|LAL         |Los Angeles Lakers   |
|MEM         |Memphis Grizzlies    |
|MIA         |Miami Heat           |
|MIL         |Milwaukee Bucks      |
+------------+---------------------+
only showing top 20 rows

2022-04-09 20:12:38,680 WARN  HeartbeatReceiver - Removing executor driver with no recent heartbeats: 475839 ms exceeds timeout 120000 ms
2022-04-09 20:12:38,872 WARN  SparkContext - Killing executors is not supported by current scheduler.